{
    "presets": ["@babel/preset-env"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "~": "./src",
                    "@routes": "./src/routes",
                    "@controllers": "./src/controllers",
                    "@validators": "./src/validators",
                    "@services": "./src/services",
                    "@models": "./src/models",
                    "@config": "./src/config",
                    "@utils": "./src/utils",
                    "@middlewares": "./src/middlewares"
                }
            }
        ]
    ]
}